@page "/menu"
@rendermode InteractiveServer
@inject NavigationManager navManager

<PageTitle>Menu</PageTitle>

<h1>Menu</h1>
<button class="btn btn-primary" @onclick="GoBack" >Return to ToC</button>
<br>
<br>
<br>
<p id="apps"><b>APPETIZER</b></p>
<p>App 1</p>
<p>App 2</p>
<p>App 3</p>
<p>App 4</p>
<p>App 5</p>
<p>App 6</p>
<p>App 7</p>
<p  id="salad"><b>SALAD</b></p>
<p>Salad 1</p>
<p>Salad 2</p>
<p>Salad 3</p>
<p>Salad 4</p>
<p>Salad 5</p>
<p>Salad 6</p>
<p>Salad 7</p>
<p id="entree"><b>ENTREE</b></p>
<p>Entree 1</p>
<p>Entree 2</p>
<p>Entree 3</p>
<p>Entree 4</p>
<p>Entree 5</p>
<p>Entree 6</p>
<p>Entree 7</p>
<p id="dessert"><b>DESSERT</b></p>
<p>Dessert 1</p>
<p>Dessert 2</p>
<p>Dessert 3</p>
<p>Dessert 4</p>
<p>Dessert 5</p>
<p>Dessert 6</p>
<p>Dessert 7</p>



@code {

    private void GoBack()
    {
        navManager.NavigateTo("/menutoc");
    }

}